[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"

[packages]
torch = "==1.5.0"
torchvision = "==0.6.0"
lungmask = {git = "https://github.com/JoHof/lungmask"}
pypng = "*"
imageio = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
